# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node modules
/backend/node_modules
/frontend/node_modules
/node_modules


#ignore root package files
/package.json
/package-lock.json

# Yarn
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build outputs
/frontend/.next
/out/

# Production build
/build

# Miscellaneous
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env
.env*.local

# Vercel deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs and temporary files
*.log
*.tmp
